img {
	width: 250px;
	height: 250px;
	margin: auto;
	display: block;
	border: solid 5px;
	border-color: #5b009c;
}
h1 {
font-family: Montserrat, sans-serif;
text-align: center;
color: white;
}
body {
	background-color: #6F00FF;
}
ul li {
	color: white;
	font-family: Arial, sans-serif;
	text-align: center;
	list-style-position: inside;

}
.list {
	border: solid 3px;
	margin: auto;
	display: block;
	width: 450px;
	font-size: 25px;
	border-radius: 10px;
	background-color: white;
	color: #7000FF;
	margin-top: 3px;
	font-family: Arial, sans-serif;
	text-align: center;
}
.abtme {
	font-family: Arial, sans-serif;
	color: white;
	text-align: center;
	font-size: 30px;
	border: solid 4px;
	display: block;
	width: 150px;
	margin: auto;
	border-radius: 10px;
	border-style: dotted;
}
h4 {
	font-family: Arial, sans-serif;
	color: white;
	text-align: center;
	border: solid 3px;
	border-radius: 10px;
	font-size: 25px;
	margin: auto;
	margin-top: 3.3px;
	display: block;
	width: 450px;
	border-style: dotted;
}
.divider {
	color: white;
	text-align: center;
	font-size: 20px;
}
.buttons {
  text-align: center; /* This centers inline-block items inside */
}
.item {
  font-family: Arial, sans-serif;
  display: inline-block;
  color: #ffffff;
  font-size: 23px;
  width: 200px;
  padding: 20px;
  margin: 10px 10px; /* top-bottom 20px, left-right 10px */
  border-radius: 50px;
  background-color: #b882ff;
  text-decoration: none;
  text-align: center;
  transition: color 300ms ease, background-color 300ms ease;
}
.new2 {
  border-top: 5px dotted rgb(255, 255, 255);
  
  border-bottom: 0px;
}
a:hover {
	background-color: #ffffff58;

}
a:active {
		background-color: #ffffff;
	color: #8132ff;
}